---
title: About Me
description: Originally from Barrie, Ontario, I graduated from the Ontario College of Art & Design with a focus in painting & drawing in 2007. 
image: /images/pic03-landscape-dusk.jpg
bottom_image: /images/pic03-landscape-dusk.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">About Me</h1>
			<p class="subtext editable">I am a visual artist creating artwork that embodies my inquisitive nature and my exploration of physical and emotional places.</p>
		</div>
	<div class="learn-more"><a href="#learn-more">Find out more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<p class="editable">Originally from Barrie, Ontario, I graduated from the Ontario College of Art & Design with a focus in painting & drawing in 2007.  Since then, I have continued to practice and show my artwork locally and abroad. I also enjoy cultivating spaces for artists to create, connect, collaborate and leverage opportunities through my mentorship, teaching and volunteer work.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/pic00-me.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<p class="editable">I was a volunteer coordinator of the Life Drawing program at the Cambridge Centre for the Arts from 2014-2020.  In 2018 & 2019, I was honoured to be a finalist for the Bernice Adams Visual Arts Award. I currently work from my home studio in Waterloo, Ontario, though I explore Southern Ontario and travel abroad at every opportunity.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/pic05-ladders-balloon.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<p class="editable">I currently work from my home studio in Waterloo, Ontario. I explore Southern Ontario and travel abroad at every opportunity.  Each experience of people and place offers new and jarring perspectives which continue to fuel my work.  I enjoy skewing scale and proportion within my work to give the viewer a sense of dislocated familiarity and perspective. I work primarily in acrylics, charcoal and pastels, though I also enjoy mixed media, inks, watercolours and sculpture.  
				<p class="editable">CV Available upon request.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/pic04-lifedrawing1.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>	
		<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Get In Touch</h2>
				<p class="subtext editable">For more information about viewing, purchasing or commissioning a piece of art, please contact me.</p>
				<div class="cta button alt"><a href="event_workshops">Contact Me</a></div>
			</div>
		</div>
	</section>
