---
title: Events & Workshops
description:  I offer workshops and events for visual artists at beginer and intermediate skill levels.
image: /images/pic05-ladders-balloon.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Events & Workshops</h1>
			<p class="subtext editable">I offer workshops and events for visual artists at beginner and intermediate skill levels.</p>
			<div class="cta button alt"><a href="#">Creative Community newsletter</a></div>
		</div>
	<div class="learn-more"><a href="#learn-more">Find out more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<p class="editable">I enjoy cultivating spaces for artists to create, connect, collaborate and leverage opportunities through my mentorship, teaching and volunteer work.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/pic00-me.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<p class="editable">I was a volunteer coordinator of the Life Drawing program at the Cambridge Centre for the Arts from 2014-2020.  In 2018 & 2019, I was honoured to be a finalist for the Bernice Adams Visual Arts Award. I currently work from my home studio in Waterloo, Ontario, though I explore Southern Ontario and travel abroad at every opportunity.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/pic05-ladders-balloon.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>
	
	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Join the Creative Community</h2>
				<p class="subtext editable">Sign up for my monthly newsletter to stay connected!</p>
				<div class="cta button alt"><a href="#">Events & Workshops</a></div>
			</div>
		</div>
	</section>
</div>
