---
title: Home
description: Miss Robin - Fine Art Studio
image: /images/pic02-intertwined.jpg
bottom_image: /images/pic03-landscape-dusk.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Art is for Everyone</h1>
			<p class="subtext editable">Through my art, I enjoy sharing my exploration of nature and the human experience with friends and the community.</p>
			<div class="cta button alt"><a href="#">Events & Workshops</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Find out more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Welcome!</h2>
				<p class="editable">I am a visual artist creating artwork that embodies my inquisitive nature and exploration of physical and emotional places.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/pic00-me.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">I work from my home studio in Waterloo</h2>
				<p class="editable">I enjoy cultivating spaces for artists to create, connect, collaborate and leverage opportunities through my mentorship, teaching and volunteer work.  Opportunities for artists include: Life Drawing, Drawing & Painting Fundamentals, Anatomy for Artists, Open Studio, Team building collaborative painting events, Individual or group, online or in person.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/pic05-ladders-balloon.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Check Out My Art</h2>
				<p class="editable">I am fascinated by the contrasting strength and frailty of nature as it intersects with humanity and technology. I explore spaces and moments where I can feel the presence or absence of people and the passage of time. I enjoy skewing scale and proportion within my work to achieve a sense of dislocated familiarity and perspective. I focus on light and movement to emphasize tension and causality. Each experience of people and place offers new and unique perspectives which continue to fuel my work. I work primarily in acrylics, charcoal and pastels, though I also enjoy mixed media, inks, watercolours and sculpture.</p>
			</div>
			<div class="image">
				<img class="editable" src="images/pic04-lifedrawing1.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Join the Creative Community</h2>
				<p class="subtext editable">Join me at an upcoming workshop or event and sign up for my monthly newsletter to stay connected!</p>
				<div class="cta button alt"><a href="#">Events & Workshops</a></div>
			</div>
		</div>
	</section>
</div>
